openapi: 3.1.0
info:
  title: Jamendo API
  version: 3.0.0
  description: Community-generated OpenAPI description of the Jamendo API v3.0,
    built from jamendo-api-docs/.
servers:
  - url: https://api.jamendo.com/v3.0
security:
  - apikey_auth: []
paths:
  /albums/file:
    get:
      operationId: getAlbumFile
      summary: Redirect to album file download
      description: Returns an HTTP redirect to the requested album file URL. The
        endpoint does not inherit parent parameter declarations. If the album's
        `zip_allowed` flag is false, the request will return a 404 error.
        Malformed requests result in a 500 error. The `client_id` parameter is
        required for authentication.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id"
        - name: audioformat
          in: query
          required: false
          description: The audio format for the file URL. Currently only `mp3` (192kbps)
            is supported.
          schema:
            type: string
            enum:
              - mp3
        - name: id
          in: query
          required: true
          description: Album identifier; only a single album ID is accepted.
          schema:
            type: integer
      responses:
        "302":
          description: Redirect to the requested file. No JSON body is returned.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - "`zip_allowed` field (returned by other album endpoints) determines
          whether a download is permitted; if false this endpoint returns 404."
        - The endpoint performs an HTTP 302 redirect to the actual file URL; no
          JSON body is returned.
        - Incorrect or missing parameters result in a 500 error with error
          details in the response headers.
  /albums/musicinfo:
    get:
      operationId: getAlbumsMusicInfo
      summary: Retrieve album information with tag filtering and music info
      description: Returns detailed album information, including tags, description
        (HTML) and a new boolean field 'zip_allowed' that indicates whether the
        album can be downloaded. If 'zip_allowed' is false, the 'zip' field will
        be returned as an empty string. Supports filtering by a single tag and
        all common album query parameters.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id"
        - $ref: "#/components/parameters/format"
        - name: callback
          in: query
          required: false
          description: Wraps the JSON response in a callback function (JSONP). Only
            effective for JSON format and GET requests.
          schema:
            type: string
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return. Default is 10, max 200. The
            keyword 'all' is limited to 200 rows.
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: Sort results by the queried field(s). Add '_asc' or '_desc' suffix
            to specify direction. Default is ascending, except rating orders
            which default to descending.
          schema:
            type: array
            items:
              type: string
              enum:
                - name
                - id
                - releasedate
                - artist_id
                - artist_name
                - popularity_total
                - popularity_month
                - popularity_week
        - name: fullcount
          in: query
          required: false
          description: If true, includes 'results_fullcount' in the response header (total
            rows without pagination). Use only when necessary due to performance
            impact.
          schema:
            type: boolean
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/name"
        - $ref: "#/components/parameters/namesearch"
        - $ref: "#/components/parameters/artist_id"
        - $ref: "#/components/parameters/artist_name"
        - name: datebetween
          in: query
          required: false
          description: "Released between dates. Format: yyyy-mm-dd_yyyy-mm-dd (both
            inclusive)."
          schema:
            type: string
        - $ref: "#/components/parameters/imagesize"
        - name: audioformat
          in: query
          required: false
          description: Audio format for the fileurl field. Currently only 'mp32' (mp3
            192kbps).
          schema:
            type: string
            enum:
              - mp32
        - name: type
          in: query
          required: false
          description: Select releases of a certain type. Defaults to both 'album' and
            'single'.
          schema:
            type: array
            items:
              type: string
              enum:
                - single
                - album
        - name: tag
          in: query
          required: false
          description: Filter albums by a single tag. Results are ordered by relevance
            unless another order is specified.
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        releasedate:
                          type: string
                        artist_id:
                          type: string
                        artist_name:
                          type: string
                        image:
                          type: string
                        zip:
                          type: string
                        zip_allowed:
                          type: boolean
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - The 'zip_allowed' field is new (Feb 2021); if false, 'zip' will be an
          empty string (April 2022 onward).
        - Only one tag can be supplied via the 'tag' parameter; multiple tags
          are not supported.
        - All parameters are passed as query string values; there is no request
          body for this GET endpoint.
  /albums/tracks:
    get:
      operationId: getAlbumTracks
      summary: Select and filter album entities and their belonging tracks
      description: This method selects and filters album entities together with their
        tracks. Since February 2021 a new boolean field `zip_allowed` is
        returned indicating whether the album can be offered for download. As of
        April 2022 the `zip` field will be an empty string when `zip_allowed` is
        false. All other fields are the same as in the parent `albums` method
        plus track‑specific fields.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id"
        - $ref: "#/components/parameters/format"
        - name: callback
          in: query
          required: false
          description: Wrap the JSON response in a callback function (JSONP). Only works
            with format=json and GET requests.
          schema:
            type: string
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return. Default 10, max 200. The
            keyword 'all' still caps at 200.
          schema:
            type: string
            default: "10"
        - name: order
          in: query
          required: false
          description: Sort results by the queried field(s). Append _asc or _desc to
            specify direction. Ascending is default, except rating fields which
            default to descending.
          schema:
            type: array
            items:
              type: string
              enum:
                - name
                - id
                - releasedate
                - artist_id
                - artist_name
                - popularity_total
                - popularity_month
                - popularity_week
                - track_id
                - track_name
                - track_position
        - name: fullcount
          in: query
          required: false
          description: If true, include `results_fullcount` (total rows without
            limit/offset) in the response header. Use with caution as it impacts
            performance.
          schema:
            type: boolean
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/name"
        - $ref: "#/components/parameters/namesearch"
        - $ref: "#/components/parameters/artist_id"
        - $ref: "#/components/parameters/artist_name"
        - name: datebetween
          in: query
          required: false
          description: "Released between dates. Format: yyyy-mm-dd_yyyy-mm-dd (from_to)."
          schema:
            type: string
        - $ref: "#/components/parameters/imagesize"
        - name: audioformat
          in: query
          required: false
          description: Audio format for the `audio` field. Defaults to mp31.
          schema:
            type: string
            enum:
              - mp31
              - mp32
              - ogg
              - flac
            default: mp31
        - name: type
          in: query
          required: false
          description: Select releases of a certain type. By default both albums and
            singles are returned.
          schema:
            type: array
            items:
              type: string
              enum:
                - single
                - album
        - $ref: "#/components/parameters/track_id"
        - $ref: "#/components/parameters/track_name"
        - name: audiodlformat
          in: query
          required: false
          description: Audio download format for the `audiodownload` field. Falls back to
            `audioformat` or mp32.
          schema:
            type: string
            enum:
              - mp31
              - mp32
              - ogg
              - flac
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        releasedate:
                          type: string
                        artist_id:
                          type: string
                        artist_name:
                          type: string
                        track_id:
                          type: string
                        image:
                          type: string
                        zip_allowed:
                          type: boolean
                        zip:
                          type:
                            - string
                            - "null"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - The `zip_allowed` field is new (Feb 2021). If false, the `zip` field
          will be empty (Apr 2022).
        - "`limit` caps at 200 even when the keyword 'all' is used."
        - "`order` defaults to ascending, except rating fields which always sort
          descending."
        - "`fullcount` can impact performance; enable only when needed."
  /albums:
    get:
      operationId: listAlbums
      summary: Retrieve a list of albums
      description: Selects and filters album entities, returning the main fields for
        each album. Includes the new 'zip_allowed' boolean indicating whether
        the album zip download is permitted; if false, the 'zip' field will be
        an empty string. Supports various query parameters for pagination,
        ordering, and filtering by album or artist attributes.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id"
        - $ref: "#/components/parameters/format"
        - name: callback
          in: query
          required: false
          description: Wraps the JSON response in a callback function (JSONP). Only works
            with format=json and GET requests.
          schema:
            type: string
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return. Default is 10, max is 200.
            'all' returns up to 200 rows.
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: Sort results by the queried field(s). Append _asc or _desc to
            specify direction (default asc). Popularity fields default to desc.
          schema:
            type: array
            items:
              type: string
              enum:
                - name
                - id
                - releasedate
                - artist_id
                - artist_name
                - popularity_total
                - popularity_month
                - popularity_week
        - name: fullcount
          in: query
          required: false
          description: If true, the response header includes 'results_fullcount' – the
            total number of rows without limit/offset. Use sparingly for
            performance.
          schema:
            type: boolean
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/name"
        - name: namesearch
          in: query
          required: false
          description: Search an album by name (wildcard match).
          schema:
            type: string
        - $ref: "#/components/parameters/artist_id"
        - $ref: "#/components/parameters/artist_name"
        - name: datebetween
          in: query
          required: false
          description: Released between dates, format 'yyyy-mm-dd_yyyy-mm-dd'.
          schema:
            type: string
        - $ref: "#/components/parameters/imagesize"
        - name: audioformat
          in: query
          required: false
          description: Audio format for file URLs; currently only mp32 (mp3 192kbps).
          schema:
            type: string
            enum:
              - mp32
        - name: type
          in: query
          required: false
          description: Select only releases of a certain type. Defaults to both 'album'
            and 'single'.
          schema:
            type: array
            items:
              type: string
              enum:
                - single
                - album
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        releasedate:
                          type: string
                        artist_id:
                          type: string
                        artist_name:
                          type: string
                        image:
                          type: string
                        zip:
                          type: string
                        zip_allowed:
                          type: boolean
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - If 'zip_allowed' is false, the 'zip' field will be an empty string (as
          of April 2022).
        - The 'fullcount' parameter adds a heavyweight header; use only when
          necessary.
        - The 'limit' parameter caps at 200 rows even when set to 'all'.
        - Ordering by popularity fields always forces descending order
          regardless of _asc suffix.
  /artists/albums:
    get:
      operationId: getArtistsAlbums
      summary: Retrieve artists and their albums
      description: Returns a list of artists together with their albums. Supports
        filtering, ordering and pagination. The required `client_id` API key
        must be provided. The `format` parameter controls the response format
        (xml, json, jsonpretty). The `order` parameter accepts multiple fields
        and supports `_asc`/`_desc` suffixes. Setting `fullcount=true` adds a
        total‑count header but may impact performance. Limits are capped at 200
        rows; the special keyword `all` is still limited to 200.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id"
        - $ref: "#/components/parameters/format"
        - name: callback
          in: query
          required: false
          description: Wraps the JSON response in a JavaScript callback (JSONP). Only
            works with `format=json` and GET requests.
          schema:
            type: string
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return. Default 10, maximum 200. The
            keyword 'all' is also capped at 200.
          schema:
            type: string
            default: "10"
        - name: order
          in: query
          required: false
          description: Sort results by the queried field(s). Append `_asc` or `_desc` to
            each field; ascending is default, but popularity fields default to
            descending.
          schema:
            type: array
            items:
              type: string
              enum:
                - name
                - id
                - joindate
                - popularity_total
                - popularity_month
                - popularity_week
                - album_name
                - album_id
                - album_releasedate
        - name: fullcount
          in: query
          required: false
          description: If true, adds `results_fullcount` to the response header (perf
            impact).
          schema:
            type: boolean
        - $ref: "#/components/parameters/id_2"
        - name: name
          in: query
          required: false
          description: An exact artist name.
          schema:
            type: string
        - name: namesearch
          in: query
          required: false
          description: Search an artist by name (wildcard pattern).
          schema:
            type: string
        - $ref: "#/components/parameters/hasimage"
        - name: datebetween
          in: query
          required: false
          description: "Filter on the artist joining date. Format: `YYYY-MM-DD_YYYY-MM-DD`."
          schema:
            type: string
        - $ref: "#/components/parameters/album_id"
        - $ref: "#/components/parameters/album_name"
        - name: album_datebetween
          in: query
          required: false
          description: "Filter on album release date. Format: `YYYY-MM-DD_YYYY-MM-DD`."
          schema:
            type: string
        - name: imagesize
          in: query
          required: false
          description: Desired album cover size in pixels.
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        headers:
                          type: object
                        results:
                          type: array
                          items:
                            type: string
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - "`client_id` is mandatory for every request."
        - "`format` defaults to json if omitted."
        - "`order` fields that are popularity metrics ignore an explicit `_asc`
          suffix and always sort descending."
        - The `limit` parameter cannot exceed 200; using `all` still returns a
          maximum of 200 rows.
        - "`fullcount=true` adds a heavy header and should be used only when
          necessary."
  /artists/locations:
    get:
      operationId: getArtistsLocations
      summary: Retrieve artists' geographical locations with optional filtering
      description: Returns a list of artists together with their declared geographical
        location information. Allows filtering by country, city, coordinates and
        radius, as well as typical Jamendo query parameters such as pagination,
        ordering and format. The client_id parameter is required for
        authentication.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id"
        - $ref: "#/components/parameters/format_2"
        - name: callback
          in: query
          required: false
          description: Wraps JSON response in a callback function (JSONP). Only works with
            format=json and GET requests.
          schema:
            type: string
        - name: offset
          in: query
          required: false
          description: The position to start returning results from.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return (max 200). The special keyword
            'all' also caps at 200.
          schema:
            type: string
            default: "10"
        - name: order
          in: query
          required: false
          description: Sort results by the queried field(s). Append _asc or _desc to
            specify direction; default is ascending except for popularity fields
            which default to descending.
          schema:
            type: array
            items:
              type: string
              enum:
                - name
                - id
                - joindate
                - popularity_total
                - popularity_month
                - popularity_week
        - name: fullcount
          in: query
          required: false
          description: If true, the response header includes the total count of results
            without pagination.
          schema:
            type: boolean
            default: false
        - name: id
          in: query
          required: false
          description: One or more artist IDs to filter.
          schema:
            type: array
            items:
              type: integer
        - name: name
          in: query
          required: false
          description: Exact name of the artist.
          schema:
            type: string
        - $ref: "#/components/parameters/namesearch_2"
        - $ref: "#/components/parameters/hasimage_2"
        - name: datebetween
          in: query
          required: false
          description: Filter on the artist joining date (format yyyy-mm-dd_yyyy-mm-dd).
          schema:
            type: string
        - name: haslocation
          in: query
          required: false
          description: Return only artists with (true) or without (false) locations.
          schema:
            type: boolean
        - name: location_country
          in: query
          required: false
          description: Filter by artist country using ISO 3166-1 alpha-3 codes.
          schema:
            type: array
            items:
              type: string
        - name: location_city
          in: query
          required: false
          description: Filter by artist city.
          schema:
            type: string
        - name: location_coords
          in: query
          required: false
          description: Coordinates expressed as latitude_longitude (e.g., 45.46427_9.18951).
          schema:
            type: string
        - name: location_radius
          in: query
          required: false
          description: Radius in kilometers around location_coords. Ignored if
            location_coords is not provided.
          schema:
            type: integer
            default: 1
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        headers:
                          type: object
                        results:
                          type: array
                          items:
                            type: string
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - client_id is mandatory; without it the request will be rejected.
        - When using the callback parameter, format must be set to json;
          otherwise the parameter is ignored.
        - location_radius is only applied when location_coords is supplied;
          otherwise it is ignored.
        - The limit parameter caps at 200 even when using the 'all' keyword.
  /artists/musicinfo:
    get:
      operationId: getArtistsMusicInfo
      summary: Returns tags list and description for each artist.
      description: Returns the tags list of each artist together with its HTML
        description (if present). All common parameters of the parent 'artists'
        endpoint are supported, plus a 'tag' filter (single tag only) and
        additional pagination and ordering options. Use the 'format' parameter
        to choose the response format. The 'fullcount' flag can be enabled for
        pagination but may impact performance.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id"
        - $ref: "#/components/parameters/format"
        - name: callback
          in: query
          required: false
          description: Wraps the JSON response in a callback function (JSONP). Only works
            with JSON format on GET requests.
          schema:
            type: string
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return. Default 10, max 200. The
            keyword 'all' is treated as 200.
          schema:
            type: string
            default: "10"
        - name: order
          in: query
          required: false
          description: Sort results by the queried field(s). Append _asc or _desc to
            specify direction; _asc is default except for popularity fields
            which default to _desc.
          schema:
            type: array
            items:
              type: string
              enum:
                - name
                - id
                - joindate
                - popularity_total
                - popularity_month
                - popularity_week
        - name: fullcount
          in: query
          required: false
          description: If true, the response header includes 'results_fullcount' – the
            total number of rows without pagination. Use sparingly as it may
            affect performance.
          schema:
            type: boolean
        - $ref: "#/components/parameters/id_2"
        - name: name
          in: query
          required: false
          description: Exact artist name to match.
          schema:
            type: string
        - name: namesearch
          in: query
          required: false
          description: Search an artist by name using wildcard matching.
          schema:
            type: string
        - $ref: "#/components/parameters/hasimage"
        - name: datebetween
          in: query
          required: false
          description: "Filter on artist joining date. Format: yyyy-mm-dd_yyyy-mm-dd
            (from_to). Both dates mandatory."
          schema:
            type: string
        - name: tag
          in: query
          required: false
          description: Filter artists by a single tag. Results are returned by relevance
            unless a different order is specified.
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        headers:
                          type: object
                        results:
                          type: array
                          items:
                            type: string
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - The 'tag' parameter currently accepts only a single tag.
        - Ordering fields can be suffixed with _asc or _desc; popularity_*
          fields default to descending order.
        - Enabling 'fullcount' may increase response time on heavy queries.
        - The 'callback' parameter works only with JSON formats and GET
          requests; it is ignored otherwise.
  /artists/tracks:
    get:
      operationId: getArtistsTracks
      summary: Return artists' tracks as sub‑entity of each artist
      description: Returns each matching artist with an embedded list of their tracks.
        Supports filtering, ordering and pagination. Since February 2021 a new
        boolean field 'audiodownload_allowed' is returned for each track to
        indicate if download can be offered. In April 2022 the 'audiodownload'
        field will be empty when this flag is false. Use 'track_type' to include
        singles (track_type=single) or album tracks (track_type=albumtrack); by
        default only album tracks are returned.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id"
        - $ref: "#/components/parameters/format"
        - $ref: "#/components/parameters/callback"
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return (default 10, max 200). Keyword
            'all' is limited to 200 rows.
          schema:
            type: string
            default: "10"
        - name: order
          in: query
          required: false
          description: Sort results by one or more fields. Append _asc or _desc for
            direction; defaults are asc except rating fields which default to
            desc.
          schema:
            type: array
            items:
              type: string
              enum:
                - name
                - id
                - joindate
                - popularity_total
                - popularity_month
                - popularity_week
                - track_name
                - track_id
                - track_releasedate
        - name: fullcount
          in: query
          required: false
          description: If true, adds 'results_fullcount' in the header with the total
            number of rows without limit/offset.
          schema:
            type: boolean
        - $ref: "#/components/parameters/id_2"
        - name: name
          in: query
          required: false
          description: Exact artist name.
          schema:
            type: string
        - $ref: "#/components/parameters/namesearch_2"
        - $ref: "#/components/parameters/hasimage_2"
        - name: datebetween
          in: query
          required: false
          description: Filter on artist join date; format 'yyyy-mm-dd_yyyy-mm-dd'.
          schema:
            type: string
        - $ref: "#/components/parameters/track_id"
        - $ref: "#/components/parameters/track_name"
        - name: track_type
          in: query
          required: false
          description: Select tracks of a certain type. Default is albumtrack only.
          schema:
            type: array
            items:
              type: string
              enum:
                - single
                - albumtrack
        - name: album_datebetween
          in: query
          required: false
          description: Filter albums by creation date; format 'yyyy-mm-dd_yyyy-mm-dd'.
          schema:
            type: string
        - $ref: "#/components/parameters/album_id"
        - $ref: "#/components/parameters/album_name"
        - name: imagesize
          in: query
          required: false
          description: Cover size in pixels.
          schema:
            type: string
            enum:
              - "25"
              - "35"
              - "50"
              - "55"
              - "60"
              - "65"
              - "70"
              - "75"
              - "85"
              - "100"
              - "130"
              - "150"
              - "200"
              - "300"
              - "400"
              - "500"
              - "600"
        - $ref: "#/components/parameters/audioformat"
        - name: audiodlformat
          in: query
          required: false
          description: Audio download format for the 'audiodownload' field. Defaults to
            audioformat or mp32.
          schema:
            type: string
            enum:
              - mp31
              - mp32
              - ogg
              - flac
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        headers:
                          type: object
                        results:
                          type: array
                          items:
                            type: string
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - The boolean field 'audiodownload_allowed' is returned for each track;
          when false the 'audiodownload' string will be empty (as of
          April 2022).
        - Singles have empty album_* fields; use 'track_type' to include them
          explicitly.
        - All tracks have an 'image' field – for album tracks it is the same as
          'album_image'.
  /artists:
    get:
      operationId: listArtists
      summary: Retrieve a list of artists with optional filtering and sorting
      description: Returns a collection of artist entities. The endpoint supports many
        filter parameters (name, id, date range, etc.) and allows sorting,
        pagination, and optional full count. Note that the `limit` parameter is
        capped at 200 rows even when set to 'all', and `fullcount` can impact
        performance and is not available on heavy methods. The `order` parameter
        defaults to ascending unless the field is a popularity metric, which
        always forces descending.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id"
        - $ref: "#/components/parameters/format"
        - name: callback
          in: query
          required: false
          description: Wrap the JSON response in a callback function (JSONP). Only works
            with `format=json` and GET requests.
          schema:
            type: string
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return. Default 10, maximum 200. The
            keyword 'all' is still limited to 200 rows.
          schema:
            type: string
            default: "10"
        - name: order
          in: query
          required: false
          description: Sort results by one or more fields. Append `_asc` or `_desc` to
            specify direction; default is ascending except for popularity fields
            which enforce descending.
          schema:
            type: array
            items:
              type: string
              enum:
                - name
                - id
                - joindate
                - popularity_total
                - popularity_month
                - popularity_week
        - name: fullcount
          in: query
          required: false
          description: If true, the response header includes `results_fullcount` (total
            rows without pagination). May affect performance.
          schema:
            type: boolean
        - name: id
          in: query
          required: false
          description: One or more artist IDs to filter by.
          schema:
            type: array
            items:
              type: integer
        - name: name
          in: query
          required: false
          description: Exact artist name to filter.
          schema:
            type: string
        - name: namesearch
          in: query
          required: false
          description: Search for artists whose name contains the given query.
          schema:
            type: string
        - $ref: "#/components/parameters/hasimage"
        - name: datebetween
          in: query
          required: false
          description: "Filter by artist join date range. Format: `yyyy-mm-dd_yyyy-mm-dd`
            (both from and to are mandatory)."
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        headers:
                          type: object
                        results:
                          type: array
                          items:
                            type: string
                        id:
                          type: string
                        name:
                          type: string
                        website:
                          type:
                            - string
                            - "null"
                        joindate:
                          type:
                            - string
                            - "null"
                        image:
                          type:
                            - string
                            - "null"
                        shorturl:
                          type:
                            - string
                            - "null"
                        shareurl:
                          type:
                            - string
                            - "null"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - "`order` suffixes (`_asc`, `_desc`) override the default direction;
          popularity fields ignore `_asc` and always sort descending."
        - "`limit` set to 'all' still respects the hard maximum of 200 rows."
        - Using `fullcount=true` may degrade performance on large result sets.
        - "`datebetween` requires both dates separated by an underscore, e.g.,
          `2020-01-01_2020-12-31`."
  /autocomplete:
    get:
      operationId: autocomplete
      summary: Autocomplete search for tracks, albums, artists and tags
      description: Returns autocomplete suggestions for the given prefix across
        selected entities (tracks, albums, artists, tags). The 'entity'
        parameter can limit the search to specific entity types. The
        'matchcount' flag adds the number of matches per suggestion. Minimum
        prefix length is 2 characters. The response includes a headers object
        with status information and a results object with arrays of matches per
        entity.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id"
        - $ref: "#/components/parameters/format"
        - name: callback
          in: query
          required: false
          description: JSONP callback function name; only works with json format and GET
            requests.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return per entity.
          schema:
            type: string
        - name: fullcount
          in: query
          required: false
          description: If true, adds 'results_fullcount' to the response header indicating
            the total rows without limit/offset.
          schema:
            type: boolean
            default: false
        - name: prefix
          in: query
          required: true
          description: String to be searched as a prefix of an entity name. Minimum length
            is 2 characters.
          schema:
            type: string
        - name: entity
          in: query
          required: false
          description: List of entity types to search. If omitted, all entities are
            searched.
          schema:
            type: array
            items:
              type: string
              enum:
                - artists
                - albums
                - tracks
                - tags
        - name: matchcount
          in: query
          required: false
          description: When true, includes the count of matches for each suggestion.
            Default is false.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        headers:
                          type: object
                        results:
                          type: object
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - Both 'client_id' and 'prefix' are required parameters.
        - "'entity' must be provided as a repeated query parameter (e.g.,
          entity=tracks&entity=artists) or as a comma‑separated list depending
          on client implementation."
        - "'matchcount' defaults to false; enabling it adds a 'count' field to
          each match object."
        - The API key is passed via the 'client_id' query parameter, hence
          authType is 'apikey'.
        - The 'format' parameter defaults to 'json' if omitted.
  /feeds:
    get:
      operationId: listFeeds
      summary: Return the editorial feeds shown on the Jamendo homepage.
      description: Returns the editorial feeds that appear on the Jamendo homepage.
        Only active feeds (those whose start and end dates include the current
        date) are returned. Each feed contains URLs for the image sizes 996_350,
        315_111, 600_211, and 470_165. The default ordering is position_asc. The
        endpoint requires a client_id API key and supports pagination,
        filtering, and sorting parameters.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id"
        - $ref: "#/components/parameters/format"
        - name: callback
          in: query
          required: false
          description: Wraps the JSON response in a callback function (JSONP). Only works
            with format=json or jsonpretty and GET requests.
          schema:
            type: string
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return (default 10, max 200). The
            keyword 'all' is capped at 200.
          schema:
            type: string
            default: "10"
        - name: order
          in: query
          required: false
          description: Sort results by one or more fields. Append _asc or _desc to
            indicate direction; default is ascending.
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - date_start
                - date_end
                - position
        - name: fullcount
          in: query
          required: false
          description: If true, the response header includes results_fullcount (total rows
            without limit/offset). Use sparingly as it impacts performance.
          schema:
            type: boolean
        - name: id
          in: query
          required: false
          description: Select feeds by their id.
          schema:
            type: integer
        - name: lang
          in: query
          required: false
          description: Filter feeds to those that have text in the specified language.
            Other languages may still appear inside the feed.
          schema:
            type: string
            enum:
              - en
              - fr
              - es
              - de
              - pl
              - it
              - ru
              - pt
        - name: target
          in: query
          required: false
          description: Select feeds targeted to logged users, notlogged users, or all.
            Feeds can belong to multiple categories.
          schema:
            type: string
            enum:
              - all
              - logged
              - notlogged
            default: all
        - name: type
          in: query
          required: false
          description: Filter feeds by one or more feed types.
          schema:
            type: array
            items:
              type: string
              enum:
                - album
                - artist
                - playlist
                - track
                - news
                - interview
                - contest
                - video
                - update
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        headers:
                          type: object
                        headers.status:
                          type: string
                        headers.code:
                          type: integer
                        headers.error_message:
                          type:
                            - string
                            - "null"
                        headers.warnings:
                          type:
                            - string
                            - "null"
                        headers.results_count:
                          type: integer
                        results:
                          type: array
                          items:
                            type: string
                        results[].id:
                          type: string
                        results[].title:
                          type: object
                        results[].position:
                          type: integer
                        results[].date_start:
                          type:
                            - string
                            - "null"
                        results[].date_end:
                          type:
                            - string
                            - "null"
                        results[].lang:
                          type:
                            - string
                            - "null"
                        results[].target:
                          type: string
                        results[].type:
                          type: string
                        results[].joinid:
                          type:
                            - string
                            - "null"
                        results[].urls:
                          type: object
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - client_id is mandatory for every request (API key authentication).
        - limit cannot exceed 200; the special value 'all' is still capped at
          200.
        - order defaults to position_asc if not provided.
        - fullcount should only be used when the total result count is needed
          because it adds overhead.
        - callback works only with format=json or jsonpretty and a GET request;
          otherwise it is ignored with a warning.
  /playlists/file:
    get:
      operationId: getPlaylistFile
      summary: Redirect to a playlist file URL
      description: Returns an HTTP 302 redirect to the requested playlist file. The
        endpoint does not return a JSON payload; instead it redirects to the
        actual audio file. Only the mp3 format is currently supported. Invalid
        requests result in HTTP 404 or 500 errors.
      security:
        - apikey_auth: []
      parameters:
        - name: client_id
          in: query
          required: true
          description: Client identifier provided by Jamendo developer portal.
          schema:
            type: string
        - name: audioformat
          in: query
          required: false
          description: Audio format for the returned file URL. Currently only 'mp3'
            (192kbps) is supported.
          schema:
            type: string
            enum:
              - mp3
        - name: id
          in: query
          required: true
          description: Playlist identifier for which to retrieve the file.
          schema:
            type: integer
      responses:
        "302":
          description: Redirect to the requested file. No JSON body is returned.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - The endpoint issues an HTTP redirect (302) to the actual media file;
          no JSON body is returned.
        - If the playlist does not exist, a 404 error is returned.
        - Malformed requests result in a 500 error with error details in the
          response headers.
  /playlists/tracks:
    get:
      operationId: getPlaylistTracks
      summary: Retrieve playlist entities together with their tracks
      description: Returns playlist entities containing the list of belonging tracks.
        Requires a client_id and at least one of id, name, user_id, access_token
        or user_name. The response contains headers with status information and
        a results array of track objects. Note the new 'audiodownload_allowed'
        boolean and that 'audiodownload' may be empty when downloading is not
        allowed.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id"
        - $ref: "#/components/parameters/format"
        - $ref: "#/components/parameters/callback"
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return (default 10, max 200). Use
            'all' to request up to 200 rows.
          schema:
            type: string
            default: "10"
        - name: order
          in: query
          required: false
          description: Sort results by field(s). Append _asc or _desc to set direction;
            ascending is default.
          schema:
            type: array
            items:
              type: string
              enum:
                - name
                - id
                - creationdate
                - track_id
                - track_name
                - track_added_date
                - track_position
        - name: fullcount
          in: query
          required: false
          description: If true, adds 'results_fullcount' to the header indicating total
            rows without limit/offset.
          schema:
            type: boolean
        - name: id
          in: query
          required: false
          description: One or more playlist IDs.
          schema:
            type: array
            items:
              type: integer
        - name: name
          in: query
          required: false
          description: A playlist name.
          schema:
            type: string
        - name: namesearch
          in: query
          required: false
          description: Search a playlist by name (wildcard *searchquery*).
          schema:
            type: string
        - name: user_id
          in: query
          required: false
          description: One or more author IDs (no access token required).
          schema:
            type: array
            items:
              type: integer
        - name: access_token
          in: query
          required: false
          description: A valid OAuth2 access token for the Jamendo user.
          schema:
            type: string
        - name: user_name
          in: query
          required: false
          description: One or more user names.
          schema:
            type: string
        - name: datebetween
          in: query
          required: false
          description: Created between dates; format 'from_to' with integer timestamps.
          schema:
            type: string
        - $ref: "#/components/parameters/audioformat"
        - name: track_type
          in: query
          required: false
          description: Filter tracks by type; defaults to albumtrack only.
          schema:
            type: array
            items:
              type: string
              enum:
                - single
                - albumtrack
        - $ref: "#/components/parameters/imagesize"
        - name: positionbetween
          in: query
          required: false
          description: Track position range in the playlist; format 'from_to' with integers.
          schema:
            type: string
        - name: audiodlformat
          in: query
          required: false
          description: Audio download format for the 'audiodownload' field.
          schema:
            type: string
            enum:
              - mp31
              - mp32
              - ogg
              - flac
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        headers.status:
                          type: string
                        headers.code:
                          type: integer
                        headers.error_message:
                          type:
                            - string
                            - "null"
                        headers.warnings:
                          type:
                            - string
                            - "null"
                        headers.results_count:
                          type: integer
                        results:
                          type: array
                          items:
                            type: string
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - client_id is mandatory; additionally at least one of id, name,
          user_id, access_token or user_name must be provided.
        - Authentication uses the client_id API key; OAuth2 token is optional
          for user‑specific data.
        - The 'audiodownload_allowed' boolean indicates whether download URLs
          are available. When false, 'audiodownload' returns an empty string
          (from April 2022).
        - Parameters that accept multiple values (id, user_id, track_type,
          order) are supplied as comma‑separated lists.
  /playlists:
    get:
      operationId: getPlaylists
      summary: Retrieve playlists with optional filters
      description: Returns a collection of playlists matching the supplied query
        parameters. The response includes playlist metadata and a zip URL for
        high‑quality MP3 files (limited to ~100 tracks). The 'limit' parameter
        defaults to 10 and is capped at 200 (even when using 'all'). Using
        'fullcount' may impact performance and is unavailable on heavy methods.
        The 'order' parameter can be suffixed with _asc or _desc to control
        direction. The 'datebetween' parameter expects a value like
        'YYYY-MM-DD_YYYY-MM-DD'. Only the mp32 audio format is currently
        supported for the audioformat parameter.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id"
        - $ref: "#/components/parameters/format"
        - $ref: "#/components/parameters/callback_2"
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return. Default 10, max 200. Using
            'all' still returns at most 200.
          schema:
            type: string
            default: "10"
        - name: order
          in: query
          required: false
          description: Sort results by the specified field(s). Append _asc or _desc to set
            direction; ascending is default.
          schema:
            type: array
            items:
              type: string
              enum:
                - name
                - id
                - creationdate
        - name: fullcount
          in: query
          required: false
          description: If true, adds 'results_fullcount' to the header showing the total
            number of rows without limit/offset. May affect performance.
          schema:
            type: boolean
        - name: id
          in: query
          required: false
          description: One or more playlist IDs to filter by.
          schema:
            type: array
            items:
              type: integer
        - name: name
          in: query
          required: false
          description: Exact playlist name to filter by.
          schema:
            type: string
        - name: namesearch
          in: query
          required: false
          description: Search playlists by name (wildcard pattern *searchquery*).
          schema:
            type: string
        - name: user_id
          in: query
          required: false
          description: One or more author IDs.
          schema:
            type: array
            items:
              type: integer
        - $ref: "#/components/parameters/access_token"
        - name: user_name
          in: query
          required: false
          description: One or more usernames to filter by.
          schema:
            type: string
        - name: datebetween
          in: query
          required: false
          description: "Filter playlists created between two dates. Format:
            YYYY-MM-DD_YYYY-MM-DD (both dates required)."
          schema:
            type: string
        - name: audioformat
          in: query
          required: false
          description: Audio format for the file URLs. Currently only 'mp32' (mp3 192kbps)
            is supported.
          schema:
            type: string
            enum:
              - mp32
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        creationdate:
                          type: string
                        user_id:
                          type: string
                        user_name:
                          type: string
                        zip:
                          type: string
                        shorturl:
                          type: string
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - The 'zip' archive may contain fewer tracks than the playlist's total
          (internal server limit ~100).
        - "'limit' is capped at 200 even when the value 'all' is used."
        - Setting 'fullcount' can degrade performance and is not available on
          heavy methods.
        - When using 'order', append '_asc' or '_desc' to each field to control
          direction; ascending is default.
        - The 'audioformat' parameter currently only supports the 'mp32' format.
  /radios/stream:
    get:
      operationId: getRadioStream
      summary: Get streaming URL and current track information for a radio
      description: Returns the streaming URL for a Jamendo radio, along with a
        playingnow object describing the currently streamed track and a
        callmeback object indicating when the current track will end. Requires a
        client_id and either a radio id or a radio name. The stream link
        returned may no longer be functional.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id"
        - $ref: "#/components/parameters/format"
        - name: callback
          in: query
          required: false
          description: JSONP callback function name (only works with format=json or
            jsonpretty).
          schema:
            type: string
        - name: fullcount
          in: query
          required: false
          description: If true, adds results_fullcount (total rows without limit/offset)
            to the response header.
          schema:
            type: boolean
        - name: id
          in: query
          required: false
          description: A radio id.
          schema:
            type: integer
        - name: type
          in: query
          required: false
          description: "Radio type: www (public) or pro (commercial)."
          schema:
            type: string
            enum:
              - www
              - pro
        - name: name
          in: query
          required: false
          description: A radio name (unique identifier).
          schema:
            type: string
        - name: imagesize
          in: query
          required: false
          description: The radio image size in pixels.
          schema:
            type: string
            enum:
              - "150"
              - "30"
        - name: track_imagesize
          in: query
          required: false
          description: The track cover size in pixels.
          schema:
            type: integer
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        headers:
                          type: object
                        results:
                          type: array
                          items:
                            type: string
                        results.id:
                          type: integer
                        results.name:
                          type: string
                        results.dispname:
                          type: string
                        results.type:
                          type: string
                        results.image:
                          type: string
                        results.stream:
                          type: string
                        results.playingnow:
                          type:
                            - object
                            - "null"
                        results.callmeback:
                          type:
                            - object
                            - "null"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - The stream URL returned by this endpoint is currently broken and may
          never be fixed.
        - client_id is mandatory, and you must provide either id or name (one of
          them).
        - fullcount can impact performance and is not available on all heavy
          methods.
  /radios:
    get:
      operationId: listRadios
      summary: Get list of Jamendo radios
      description: Returns the list of existing Jamendo radios with their image, name
        and other metadata. Each radio can be streamed via the /radios/stream
        endpoint. Commercial "pro" radios require a commercial license and will
        only be returned if your account has that access.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id"
        - $ref: "#/components/parameters/format"
        - $ref: "#/components/parameters/callback_2"
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return. Default 10, max 200. Using
            'all' still caps at 200.
          schema:
            type: string
            default: "10"
        - name: order
          in: query
          required: false
          description: Sort results by the given field(s). Append _asc or _desc to specify
            direction; default is ascending.
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - name
                - dispname
        - name: fullcount
          in: query
          required: false
          description: If true, adds 'results_fullcount' in the header indicating the
            total number of rows without limit/offset. Use sparingly for
            performance.
          schema:
            type: boolean
        - name: id
          in: query
          required: false
          description: Filter by a specific radio id.
          schema:
            type: integer
        - name: type
          in: query
          required: false
          description: Filter by radio type. 'www' are public, 'pro' are commercial and
            require a license.
          schema:
            type: string
            enum:
              - www
              - pro
            default: www
        - name: name
          in: query
          required: false
          description: Filter by a unique radio name.
          schema:
            type: string
        - name: imagesize
          in: query
          required: false
          description: Desired radio image size in pixels.
          schema:
            type: string
            enum:
              - "150"
              - "30"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        headers:
                          type: object
                        headers.status:
                          type: string
                        headers.code:
                          type: integer
                        headers.error_message:
                          type:
                            - string
                            - "null"
                        headers.warnings:
                          type:
                            - string
                            - "null"
                        headers.results_count:
                          type: integer
                        results:
                          type: array
                          items:
                            type: string
                        results.id:
                          type: integer
                        results.name:
                          type: string
                        results.dispname:
                          type: string
                        results.type:
                          type: string
                        results.image:
                          type:
                            - string
                            - "null"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - The endpoint path does not include the version prefix; version is
          implicit in the base URL.
        - '"pro" radios are only returned for accounts with a commercial
          license.'
        - The 'order' parameter accepts multiple values separated by commas,
          e.g., order=id_desc,name_asc.
        - The 'limit' parameter accepts the literal string 'all', but the API
          still caps the result set at 200 rows.
  /reviews/albums:
    get:
      operationId: listAlbumReviews
      summary: Filter and browse album reviews
      description: Retrieves reviews for albums with extensive filtering options.
        Returns fields such as the number of agreements (agreecnt), the
        user-assigned score, the review text, and title. Note that the
        `callback` parameter only works with JSON format on GET requests, the
        `limit` is capped at 200 rows, and using `fullcount` can impact
        performance.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id"
        - $ref: "#/components/parameters/format_3"
        - name: callback
          in: query
          required: false
          description: Wraps JSON response in a callback function (JSONP). Only works with
            JSON format on GET requests.
          schema:
            type: string
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return. Default 10, max 200. The
            keyword 'all' is limited to 200 rows.
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: Sort results by the queried field(s). Append _asc or _desc to set
            direction; ascending is default.
          schema:
            type: array
            items:
              type: string
              enum:
                - addeddate
                - score
                - id
        - name: fullcount
          in: query
          required: false
          description: If true, response header includes 'results_fullcount' with the
            total number of rows ignoring limit/offset.
          schema:
            type: boolean
        - $ref: "#/components/parameters/id_3"
        - name: lang
          in: query
          required: false
          description: Review language code (e.g., 'en', 'fr', 'it').
          schema:
            type: string
        - name: datebetween
          in: query
          required: false
          description: "Filter reviews released between two dates. Format:
            yyyy-mm-dd_yyyy-mm-dd."
          schema:
            type: string
        - $ref: "#/components/parameters/user_id"
        - $ref: "#/components/parameters/access_token_2"
        - name: hasscore
          in: query
          required: false
          description: Filter reviews that have (or don't have) a score.
          schema:
            type: boolean
        - $ref: "#/components/parameters/album_id"
        - $ref: "#/components/parameters/artist_id_2"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        headers:
                          type: object
                        results:
                          type: array
                          items:
                            type: string
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - "`callback` only works when format=json or jsonpretty and the request
          method is GET."
        - "`limit` cannot exceed 200 rows, even when using the keyword 'all'."
        - Enabling `fullcount` may impact performance on large result sets.
  /reviews/tracks:
    get:
      operationId: listTrackReviews
      summary: Filter and browse track reviews
      description: Returns a list of reviews for tracks with various filtering
        options. Since February 2021 the boolean field
        'track_audiodownload_allowed' indicates whether the track can be
        downloaded through your application. In April 2022 the
        'track_audiodownload' field will be an empty string when
        'track_audiodownload_allowed' is false. Pagination parameters, ordering,
        and optional OAuth2 access token are supported.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id"
        - $ref: "#/components/parameters/format"
        - name: callback
          in: query
          required: false
          description: JSONP callback function; only works with json format GET requests.
          schema:
            type: string
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return. Default 10, max 200. The
            keyword 'all' still caps at 200.
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: Sort results by the specified field(s). Append _asc or _desc to
            indicate direction; ascending is default.
          schema:
            type: array
            items:
              type: string
              enum:
                - addeddate
                - score
                - id
        - name: fullcount
          in: query
          required: false
          description: If true, adds 'results_fullcount' header with total rows ignoring
            limit/offset. Affects performance.
          schema:
            type: boolean
        - $ref: "#/components/parameters/id_3"
        - name: lang
          in: query
          required: false
          description: Review language as a 2‑letter code (e.g., "en", "fr").
          schema:
            type: string
        - name: datebetween
          in: query
          required: false
          description: Closed interval for review dates in the form yyyy-mm-dd_yyyy-mm-dd.
          schema:
            type: string
        - $ref: "#/components/parameters/user_id"
        - $ref: "#/components/parameters/access_token_2"
        - name: hasscore
          in: query
          required: false
          description: Filter reviews that have (or do not have) a score.
          schema:
            type: boolean
        - $ref: "#/components/parameters/track_id"
        - name: album_id
          in: query
          required: false
          description: An album ID.
          schema:
            type: integer
        - $ref: "#/components/parameters/artist_id_2"
        - name: audioformat
          in: query
          required: false
          description: Audio format for the 'audio' field; defaults to mp31.
          schema:
            type: string
            enum:
              - mp31
              - mp32
              - ogg
              - flac
        - name: audiodlformat
          in: query
          required: false
          description: Audio download format for the 'audiodownload' field; defaults to
            audioformat or mp32.
          schema:
            type: string
            enum:
              - mp31
              - mp32
              - ogg
              - flac
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        title:
                          type:
                            - string
                            - "null"
                        text:
                          type: string
                        dateadded:
                          type: string
                        agreecnt:
                          type: integer
                        lang:
                          type: string
                        user_id:
                          type: string
                        user_name:
                          type: string
                        user_dispname:
                          type: string
                        score:
                          type:
                            - string
                            - "null"
                        track_audiodownload_allowed:
                          type: boolean
                        track_audiodownload:
                          type:
                            - string
                            - "null"
                        audio:
                          type:
                            - string
                            - "null"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - The 'track_audiodownload_allowed' field was added in Feb 2021; use it
          to decide whether to present a download option.
        - As of Apr 2022 the 'track_audiodownload' field will be empty when
          download is not allowed, regardless of the 'audiodlformat' parameter.
        - "'fullcount' adds a results_fullcount header but can degrade
          performance on heavy queries."
        - "'limit' accepts the keyword 'all' but still caps results at 200 rows."
        - Ordering fields support an optional _asc or _desc suffix; the default
          direction is ascending.
        - If 'callback' is supplied it only works with format=json or
          jsonpretty; otherwise it is ignored and a warning is issued.
  /tracks/file:
    get:
      operationId: getTrackFile
      summary: Redirect to the requested track audio file
      description: Returns an HTTP 302 redirect to the audio file for a given track
        ID. If the track's audiodownload_allowed (or
        track_audiodownload_allowed) flag is false, a 404 error is returned.
        Malformed requests yield a 500 error. This endpoint does not inherit the
        common parameter declarations of other methods.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id"
        - name: id
          in: query
          required: true
          description: The unique identifier of the track to download/stream. Exactly one
            ID is accepted.
          schema:
            type: integer
        - name: fullcount
          in: query
          required: false
          description: If true, the response header includes 'results_fullcount' with the
            total number of rows without pagination. Use sparingly as it impacts
            performance.
          schema:
            type: boolean
        - name: audioformat
          in: query
          required: false
          description: Desired audio format for the returned file. Defaults to mp31 (96
            kbps) if omitted.
          schema:
            type: string
            enum:
              - mp31
              - mp32
              - ogg
              - flac
            default: mp31
        - name: action
          in: query
          required: false
          description: Indicates whether the request is for downloading or streaming,
            helping the server optimise handling.
          schema:
            type: string
            enum:
              - download
              - stream
            default: download
      responses:
        "302":
          description: Redirect to the requested file. No JSON body is returned.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - If 'audiodownload_allowed'/'track_audiodownload_allowed' is false for
          the requested track, the endpoint returns HTTP 404.
        - The endpoint performs an HTTP redirect; the final audio URL is
          provided in the 'Location' header.
        - Only a single track ID is allowed; providing multiple IDs results in
          an error.
  /tracks/similar:
    get:
      operationId: getSimilarTracks
      summary: Get tracks similar to a given track
      description: Returns a list of tracks that are similar to the specified track
        ID. The similarity is based mainly on tags, then acoustic/electric
        features and other attributes. Optional filters can exclude tracks by
        the same artist or album. Results are sorted by a relevance score (0‑1).
        Pagination, formatting, and additional info can be controlled via query
        parameters.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id"
        - $ref: "#/components/parameters/format_3"
        - name: callback
          in: query
          required: false
          description: Wrap the JSON response in a callback function (JSONP). Only works
            with format=json or jsonpretty on GET requests.
          schema:
            type: string
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/limit"
        - name: fullcount
          in: query
          required: false
          description: If true, includes the total number of matching rows in the header
            (results_fullcount). May impact performance.
          schema:
            type: boolean
        - name: imagesize
          in: query
          required: false
          description: Desired cover image size in pixels. If omitted, a default size is
            returned.
          schema:
            type: string
            enum:
              - "25"
              - "35"
              - "50"
              - "55"
              - "60"
              - "65"
              - "70"
              - "75"
              - "85"
              - "100"
              - "130"
              - "150"
              - "200"
              - "300"
              - "400"
              - "500"
              - "600"
        - name: audioformat
          in: query
          required: false
          description: Audio format for the 'audio' field. Defaults to mp31 (96 kbps) if
            not specified.
          schema:
            type: string
            enum:
              - mp31
              - mp32
              - ogg
              - flac
            default: mp31
        - name: audiodlformat
          in: query
          required: false
          description: Audio download format for the 'audiodownload' field. If omitted,
            inherits 'audioformat', otherwise defaults to mp32.
          schema:
            type: string
            enum:
              - mp31
              - mp32
              - ogg
              - flac
        - name: include
          in: query
          required: false
          description: Comma‑separated list of additional fields to include in each result.
          schema:
            type: array
            items:
              type: string
              enum:
                - licenses
                - musicinfo
                - stats
                - lyrics
        - name: id
          in: query
          required: true
          description: The ID of the track for which similar tracks are requested.
          schema:
            type: integer
        - name: no_artist
          in: query
          required: false
          description: Artist ID to exclude tracks by this artist from the results.
          schema:
            type: integer
        - name: no_album
          in: query
          required: false
          description: Album ID to exclude tracks from this album from the results.
          schema:
            type: integer
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        headers:
                          type: object
                        results:
                          type: array
                          items:
                            type: string
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - Both client_id and id parameters are mandatory.
        - The 'no_artist' and 'no_album' filters are useful to avoid returning
          tracks from the same artist or album.
        - The maximum effective limit is 200 even when using the 'all' keyword.
[...]
