openapi: 3.1.0
info:
  title: Jamendo API
  version: 3.0.0
  description: Community-generated OpenAPI description of the Jamendo API v3.0,
    built from jamendo-api-docs/.
servers:
  - url: https://api.jamendo.com/v3.0
security:
  - apikey_auth: []
paths:
  /albums/file:
    get:
      operationId: getAlbumFile
      summary: Redirect to the downloadable album file URL
      description: Returns an HTTP redirect to the requested album file. The request
        must include a valid client_id and an album id. The optional audioformat
        parameter selects the audio encoding (currently only mp3). Starting
        April 2022, a 404 error is returned if the album's 'zip_allowed' flag is
        false. This endpoint does not inherit the usual parent parameter
        declarations and returns no JSON body, only a redirect response.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id"
        - $ref: "#/components/parameters/audioformat"
        - name: id
          in: query
          required: true
          description: Album identifier for which the file should be downloaded.
          schema:
            type: integer
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties: {}
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - The response is an HTTP 302 redirect to the actual file URL; no JSON
          payload is returned.
        - "'zip_allowed' flag is now included in other album endpoints; if
          false, this endpoint will return a 404."
        - Ensure your application follows redirects to obtain the file.
  /albums/musicinfo:
    get:
      operationId: getAlbumsMusicInfo
      summary: Retrieve album tags, descriptions and zip download availability
      description: Returns the list of tags for each album together with its HTML
        description and the new 'zip_allowed' boolean indicating whether the
        album can be offered for download. Starting April 2022, the 'zip' field
        will be an empty string when 'zip_allowed' is false. This endpoint
        behaves like the parent '/albums' method but adds the optional 'tag'
        filter (single tag only).
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id_2"
        - $ref: "#/components/parameters/format"
        - $ref: "#/components/parameters/callback"
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return. Default 10, max 200. 'all'
            still limited to 200.
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: Sort results by given field(s). Append _asc or _desc to specify
            direction. Certain popularity fields default to desc.
          schema:
            type: string
            enum:
              - name
              - id
              - releasedate
              - artist_id
              - artist_name
              - popularity_total
              - popularity_month
              - popularity_week
        - name: fullcount
          in: query
          required: false
          description: If true, adds 'results_fullcount' header with total rows ignoring
            limit/offset. Use sparingly due to performance impact.
          schema:
            type: boolean
        - name: id
          in: query
          required: false
          description: One or more album IDs (comma‑separated).
          schema:
            type: integer
        - name: name
          in: query
          required: false
          description: Album name.
          schema:
            type: string
        - name: namesearch
          in: query
          required: false
          description: Search an album by name (partial match).
          schema:
            type: string
        - $ref: "#/components/parameters/artist_id"
        - $ref: "#/components/parameters/artist_name"
        - name: datebetween
          in: query
          required: false
          description: Released between dates; format 'yyyy-mm-dd_yyyy-mm-dd'.
          schema:
            type: string
        - $ref: "#/components/parameters/imagesize"
        - name: audioformat
          in: query
          required: false
          description: Audio format for fileurl; currently only mp32 (mp3 192kbps).
          schema:
            type: string
            enum:
              - mp32
        - name: type
          in: query
          required: false
          description: "Filter by release type: single or album."
          schema:
            type: string
            enum:
              - single
              - album
        - name: tag
          in: query
          required: false
          description: Filter albums by a single tag. Results are ordered by relevance
            unless another order is specified.
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties: {}
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - The 'zip_allowed' boolean indicates if the album can be offered for
          download.
        - When 'zip_allowed' is false, the 'zip' field will be returned as an
          empty string (effective from April 2022).
        - Only a single tag can be supplied via the 'tag' parameter; multiple
          tags are not supported.
  /albums/tracks:
    get:
      operationId: getAlbumsTracks
      summary: Retrieve albums with their belonging tracks.
      description: Select and filter album entities along with their tracks. Includes
        the new 'zip_allowed' boolean indicating download permission and the
        'zip' field which may be empty when downloads are not allowed.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id_2"
        - $ref: "#/components/parameters/format"
        - name: callback
          in: query
          required: false
          description: JSONP callback function name (only for json format GET requests).
          schema:
            type: string
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return (default 10, max 200, 'all'
            limited to 200).
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: Sort results by field(s). Append _asc or _desc to specify
            direction; defaults to asc, rating fields default to desc.
          schema:
            type: string
            enum:
              - name
              - id
              - releasedate
              - artist_id
              - artist_name
              - popularity_total
              - popularity_month
              - popularity_week
              - track_id
              - track_name
              - track_position
        - name: fullcount
          in: query
          required: false
          description: If true, include total result count in header (performance impact).
          schema:
            type: boolean
        - name: id
          in: query
          required: false
          description: One or more album IDs.
          schema:
            type: integer
        - name: name
          in: query
          required: false
          description: An album name.
          schema:
            type: string
        - name: namesearch
          in: query
          required: false
          description: Search an album by name using wildcard (e.g., *searchquery*).
          schema:
            type: string
        - name: artist_id
          in: query
          required: false
          description: One or more artist IDs.
          schema:
            type: string
        - name: artist_name
          in: query
          required: false
          description: An artist name.
          schema:
            type: string
        - name: datebetween
          in: query
          required: false
          description: Released between dates (format yyyy-mm-dd_yyyy-mm-dd).
          schema:
            type: string
        - name: imagesize
          in: query
          required: false
          description: Cover size in pixels.
          schema:
            type: string
            enum:
              - "25"
              - "35"
              - "50"
              - "55"
              - "60"
              - "65"
              - "70"
              - "75"
              - "85"
              - "100"
              - "130"
              - "150"
              - "200"
              - "300"
              - "400"
              - "500"
              - "600"
        - name: audioformat
          in: query
          required: false
          description: Audio format for the 'audio' field; defaults to mp31.
          schema:
            type: string
            enum:
              - mp31
              - mp32
              - ogg
              - flac
        - name: type
          in: query
          required: false
          description: Filter by release type; defaults to both albums and singles.
          schema:
            type: string
            enum:
              - single
              - album
        - name: track_id
          in: query
          required: false
          description: One or more track IDs.
          schema:
            type: integer
        - name: track_name
          in: query
          required: false
          description: A track name.
          schema:
            type: string
        - name: audiodlformat
          in: query
          required: false
          description: Audio download format for 'audiodownload'; defaults to audioformat
            or mp32.
          schema:
            type: string
            enum:
              - mp31
              - mp32
              - ogg
              - flac
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties: {}
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - Since February 2021 the response includes a boolean field
          'zip_allowed' indicating if download is permitted.
        - From April 2022 the 'zip' field will be an empty string when
          'zip_allowed' is false.
  /albums:
    get:
      operationId: listAlbums
      summary: Retrieve a filtered list of album entities.
      description: Select and filter album entities, returning the main fields
        concerning albums. Includes the new 'zip_allowed' boolean indicating
        whether a download zip is permitted and notes that the 'zip' field will
        be empty when 'zip_allowed' is false. Supports pagination, ordering, and
        various search filters.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id_2"
        - $ref: "#/components/parameters/format"
        - name: callback
          in: query
          required: false
          description: Wrap JSON response in a callback function (JSONP). Only works with
            json format and GET requests.
          schema:
            type: string
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/limit"
        - name: order
          in: query
          required: false
          description: Sort results by the queried field(s). Append _asc or _desc to
            specify order (ascending is default, rating fields default to
            descending).
          schema:
            type: string
            enum:
              - name
              - id
              - releasedate
              - artist_id
              - artist_name
              - popularity_total
              - popularity_month
              - popularity_week
        - name: fullcount
          in: query
          required: false
          description: If true, the response header includes 'results_fullcount' (total
            rows without limit/offset). Use sparingly as it impacts performance.
          schema:
            type: boolean
        - name: id
          in: query
          required: false
          description: One or more album IDs (comma‑separated).
          schema:
            type: string
        - name: name
          in: query
          required: false
          description: Filter by exact album name.
          schema:
            type: string
        - name: namesearch
          in: query
          required: false
          description: Search album names using wildcard (*searchquery*).
          schema:
            type: string
        - $ref: "#/components/parameters/artist_id"
        - name: artist_name
          in: query
          required: false
          description: Filter by artist name.
          schema:
            type: string
        - name: datebetween
          in: query
          required: false
          description: Filter albums released between two dates (format
            yyyy-mm-dd_yyyy-mm-dd).
          schema:
            type: string
        - name: imagesize
          in: query
          required: false
          description: Desired cover image size in pixels.
          schema:
            type: integer
            enum:
              - 25
              - 35
              - 50
              - 55
              - 60
              - 65
              - 70
              - 75
              - 85
              - 100
              - 130
              - 150
              - 200
              - 300
              - 400
              - 500
              - 600
        - name: audioformat
          in: query
          required: false
          description: Audio format for file URLs; only 'mp32' (mp3 192kbps) is supported.
          schema:
            type: string
            enum:
              - mp32
        - name: type
          in: query
          required: false
          description: Select releases of a certain type. Defaults to both albums and
            singles.
          schema:
            type: string
            enum:
              - single
              - album
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties: {}
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - Since February 2021 the response includes a boolean field
          'zip_allowed' indicating if a download zip can be offered.
        - From April 2022, if 'zip_allowed' is false the 'zip' field will be an
          empty string.
        - The endpoint does not include the version prefix in the path; use
          '/albums' as shown.
  /artists:
    get:
      operationId: listArtists_artists
      summary: Retrieve a list of artists
      description: Returns artists with optional filtering, pagination and sorting.
        Sub‑methods such as artists/tracks, artists/albums, etc. are available.
        The method requires a client_id and supports various query parameters to
        control the result set.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id_2"
        - $ref: "#/components/parameters/format"
        - $ref: "#/components/parameters/callback"
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return. Default 10, max 200. Using
            'all' still caps at 200.
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: Sort results by the specified field(s). Append _asc or _desc to set
            direction. Ascending is default, except popularity fields which
            default to descending.
          schema:
            type: string
            enum:
              - name
              - id
              - joindate
              - popularity_total
              - popularity_month
              - popularity_week
        - name: fullcount
          in: query
          required: false
          description: If true, response header includes 'results_fullcount' – the total
            number of rows without limit/offset. Use sparingly for performance.
          schema:
            type: boolean
        - name: id
          in: query
          required: false
          description: One or more artist IDs (comma‑separated).
          schema:
            type: integer
        - $ref: "#/components/parameters/name"
        - name: namesearch
          in: query
          required: false
          description: Search for artists whose name contains the given substring.
          schema:
            type: string
        - $ref: "#/components/parameters/hasimage"
        - name: datebetween
          in: query
          required: false
          description: "Filter on artist joining date. Format: 'yyyy-mm-dd_yyyy-mm-dd'
            (from_to)."
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties: {}
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - Do not include the version prefix in the path; use "/artists".
        - The 'limit' parameter cannot exceed 200 even when set to 'all'.
        - Popularity‑based order fields always use descending order, ignoring an
          explicit _asc suffix.
        - Enabling 'fullcount' may impact performance on heavy queries.
  /artists/locations:
    get:
      operationId: getArtistLocations
      summary: Retrieve artist geographical locations with optional filtering
      description: This method returns artists' declared geographical locations
        (country, city, coordinates) and supports filtering by country, city,
        latitude/longitude pair, radius, and various artist attributes.
        Geographical filtering can be expressed by country name/codes, city
        name, or a latitude/longitude coordinate pair combined with a km radius.
        Use the callback parameter only with JSON format; otherwise it is
        ignored.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id_2"
        - $ref: "#/components/parameters/format"
        - name: callback
          in: query
          required: false
          description: Wraps the JSON response in a callback function (JSONP). Only works
            for json format and GET requests; ignored otherwise.
          schema:
            type: string
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/limit"
        - name: order
          in: query
          required: false
          description: Sort results by the queried field(s). Append _asc or _desc to
            specify direction; _asc is default except for popularity fields
            which default to _desc.
          schema:
            type: string
            enum:
              - name
              - id
              - joindate
              - popularity_total
              - popularity_month
              - popularity_week
        - name: fullcount
          in: query
          required: false
          description: If true, adds 'results_fullcount' header with total rows ignoring
            limit/offset. Increases response time; use only when needed.
          schema:
            type: boolean
        - name: id
          in: query
          required: false
          description: One or more artist IDs to filter by.
          schema:
            type: integer
        - $ref: "#/components/parameters/name"
        - name: namesearch
          in: query
          required: false
          description: Search artists by name (wildcard *searchquery*).
          schema:
            type: string
        - $ref: "#/components/parameters/hasimage"
        - name: datebetween
          in: query
          required: false
          description: "Filter on artist joining date. Format: yyyy-mm-dd_yyyy-mm-dd
            (from_to)."
          schema:
            type: string
        - name: haslocation
          in: query
          required: false
          description: Return only artists with (true) or without (false) location data.
          schema:
            type: boolean
        - name: location_country
          in: query
          required: false
          description: ISO‑3166‑1 alpha‑3 country codes of the artist's location.
          schema:
            type: string
            enum:
              - AFG
              - ALB
              - DZA
              - ASM
              - AND
              - AGO
              - AIA
              - ATA
              - ATG
              - ARG
              - ARM
              - ABW
              - ASC
              - AUS
              - AUT
              - AZE
              - BHS
              - BHR
              - BGD
              - BRB
              - BLR
              - BEL
              - BLZ
              - BEN
              - BMU
              - BTN
              - BOL
              - BIH
              - BWA
              - BVT
              - BRA
              - IOT
              - VGB
              - BRN
              - BGR
              - BFA
              - BDI
              - KHM
              - CMR
              - CAN
              - CPV
              - BES
              - CYM
              - CAF
              - TCD
              - CHL
              - CHN
              - CXR
              - CPT
              - CCK
              - COL
              - COM
              - COG
              - COD
              - COK
              - CRI
              - HRV
              - CUB
              - CUW
              - CYP
              - CZE
              - CIV
              - DNK
              - DGA
              - DJI
              - DMA
              - DOM
              - ECU
              - EGY
              - SLV
              - GNQ
              - ERI
              - EST
              - ETH
              - FLK
              - FRO
              - FJI
              - FIN
              - FRA
              - GUF
              - PYF
              - ATF
              - GAB
              - GMB
              - GEO
              - DEU
              - GHA
              - GIB
              - GRC
              - GRL
              - GRD
              - GLP
              - GUM
              - GTM
              - GGY
              - GIN
              - GNB
              - GUY
              - HTI
              - HMD
              - HND
              - HKG
              - HUN
              - ISL
              - IND
              - IDN
              - IRN
              - IRQ
              - IRL
              - IMN
              - ISR
              - ITA
              - JAM
              - JPN
              - JEY
              - JOR
              - KAZ
              - KEN
              - KIR
              - XKK
              - KWT
              - KGZ
              - LAO
              - LVA
              - LBN
              - LSO
              - LBR
              - LBY
              - LIE
              - LTU
              - LUX
              - MAC
              - MKD
              - MDG
              - MWI
              - MYS
              - MDV
              - MLI
              - MLT
              - MHL
              - MTQ
              - MRT
              - MUS
              - MYT
              - MEX
              - FSM
              - MDA
              - MCO
              - MNG
              - MNE
              - MSR
              - MAR
              - MOZ
              - MMR
              - NAM
              - NRU
              - NPL
              - NLD
              - ANT
              - NCL
              - NZL
              - NIC
              - NER
              - NGA
              - NIU
              - NFK
              - PRK
              - MNP
              - NOR
              - OMN
              - PAK
              - PLW
              - PSE
              - PAN
              - PNG
              - PRY
              - PER
              - PHL
              - PCN
              - POL
              - PRT
              - PRI
              - QAT
              - ROU
              - RUS
              - RWA
              - REU
              - BLM
              - SHN
              - KNA
              - LCA
              - MAF
              - SPM
              - WSM
              - SMR
              - SAU
              - SEN
              - SRB
              - SYC
              - SLE
              - SGP
              - SXM
              - SVK
              - SVN
              - SLB
              - SOM
              - ZAF
              - SGS
              - KOR
              - SSD
              - ESP
              - LKA
              - VCT
              - SDN
              - SUR
              - SJM
              - SWZ
              - SWE
              - CHE
              - SYR
              - STP
              - TWN
              - TJK
              - TZA
              - THA
              - TLS
              - TGO
              - TKL
              - TON
              - TTO
              - TAA
              - TUN
              - TUR
              - TKM
              - TCA
              - TUV
              - UMI
              - VIR
              - UGA
              - UKR
              - ARE
              - GBR
              - USA
              - URY
              - UZB
              - VUT
              - VAT
              - VEN
              - VNM
              - WLF
              - ESH
              - YEM
              - ZMB
              - ZWE
              - ALA
        - name: location_city
          in: query
          required: false
          description: The artist city.
          schema:
            type: string
        - name: location_coords
          in: query
          required: false
          description: Latitude_longitude pair (e.g., "48.8566_2.3522").
          schema:
            type: string
        - name: location_radius
          in: query
          required: false
          description: Radius in kilometers around location_coords. Ignored if
            location_coords is not provided.
          schema:
            type: integer
            default: 1
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties: {}
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - The 'callback' parameter works only when 'format=json' and the request
          method is GET.
        - "'order' fields default to ascending except popularity fields which
          always sort descending."
        - "'fullcount' can impact performance and is not available on heavy
          methods."
        - "'location_radius' defaults to 1 km; it is ignored when no coordinates
          are supplied."
        - When using multiple values (e.g., id, location_country) separate them
          with commas.
  /artists/musicinfo:
    get:
      operationId: getArtistMusicInfo
      summary: Retrieve artist tags and descriptions
      description: Returns the list of tags for each artist together with its
        description (HTML) if available. In addition to all the common query
        parameters of the parent 'artists' method, this endpoint supports
        filtering by a single tag using the 'tag' parameter. The response can be
        formatted as XML, JSON, or pretty‑printed JSON.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id_2"
        - $ref: "#/components/parameters/format"
        - $ref: "#/components/parameters/callback_2"
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return. Default 10, max 200. The
            keyword 'all' is capped at 200.
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: Sort results by the specified field(s). Append _asc or _desc to set
            direction; ascending is default except for popularity orders which
            force descending.
          schema:
            type: string
            enum:
              - name
              - id
              - joindate
              - popularity_total
              - popularity_month
              - popularity_week
        - name: fullcount
          in: query
          required: false
          description: If true, the response header includes the total number of rows that
            would be returned without limit/offset. Use sparingly as it impacts
            performance.
          schema:
            type: boolean
        - name: id
          in: query
          required: false
          description: One or more artist IDs (can be repeated).
          schema:
            type: integer
        - name: name
          in: query
          required: false
          description: An artist name.
          schema:
            type: string
        - name: namesearch
          in: query
          required: false
          description: Search an artist by name using a wildcard pattern.
          schema:
            type: string
        - $ref: "#/components/parameters/hasimage"
        - name: datebetween
          in: query
          required: false
          description: Filter on the artist joining date using a closed interval formatted
            as yyyy-mm-dd_yyyy-mm-dd.
          schema:
            type: string
        - name: tag
          in: query
          required: false
          description: Filter artists by a single tag. Results are returned in relevance
            order unless another order is specified.
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties: {}
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - Only one tag can be used for filtering; multiple tags are not
          supported.
        - Popularity based order fields always sort descending, even if _asc is
          requested.
        - Setting fullcount=true can significantly affect response time on large
          result sets.
  /autocomplete:
    get:
      operationId: autocomplete
      summary: Autocomplete search across tracks, albums, artists and tags.
      description: Returns a list of matching entities (tracks, albums, artists, tags)
        for the given prefix. By default all four entities are searched, but you
        can limit the search with the 'entity' parameter. The 'matchcount' flag
        adds a count of matches per entity. The endpoint does not return entity
        IDs; lookups must be performed by name, which may not be unique. The
        'prefix' must be at least 2 characters long and the request is limited
        by the 'limit' parameter. Callback wrapping is only supported for JSON
        responses.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id_2"
        - $ref: "#/components/parameters/format"
        - $ref: "#/components/parameters/callback"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return per entity.
          schema:
            type: string
        - name: fullcount
          in: query
          required: false
          description: If true, the document header includes 'results_fullcount' with the
            total number of rows without limit/offset.
          schema:
            type: boolean
        - name: prefix
          in: query
          required: true
          description: String to search as a prefix of an entity name. Minimum length is 2
            characters.
          schema:
            type: string
        - name: entity
          in: query
          required: false
          description: Restricts the autocomplete search to the specified entity types. If
            omitted, all entities are searched.
          schema:
            type: string
            enum:
              - artists
              - albums
              - tracks
              - tags
        - name: matchcount
          in: query
          required: false
          description: If true, includes the count of matches for each returned item.
            Default is false.
          schema:
            type: boolean
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        headers:
                          type: object
                        results:
                          type: object
                        results.tags:
                          type: array
                          items:
                            type:
                              - string
                              - "null"
                        results.artists:
                          type: array
                          items:
                            type:
                              - string
                              - "null"
                        results.albums:
                          type: array
                          items:
                            type:
                              - string
                              - "null"
                        results.tracks:
                          type: array
                          items:
                            type:
                              - string
                              - "null"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - The endpoint does not return IDs for matched entities; subsequent
          lookups must use names, which may not be unique.
        - "'matchcount' defaults to false and adds extra data to the payload."
        - The 'entity' parameter accepts multiple values; provide a
          comma‑separated list (e.g., entity=artists,tracks).
        - "'limit' is treated as a string in the documentation but represents an
          integer."
        - The 'callback' parameter is ignored for non‑JSON formats and for POST
          requests.
  /feeds:
    get:
      operationId: getFeeds
      summary: Retrieve editorial feeds displayed on the Jamendo homepage.
      description: Returns the editorial feeds that appear on the Jamendo homepage.
        Only feeds that are currently active (i.e., whose start and end dates
        include the request time) are returned. Each feed object includes a list
        of URLs for various image sizes (996_350, 315_111, 600_211, 470_165).
        The default sorting order is position_asc.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id_2"
        - $ref: "#/components/parameters/format"
        - $ref: "#/components/parameters/callback_2"
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: The max number of results to return. Default is 10, max 200. Using
            the keyword 'all' still caps at 200 rows.
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: Sort results by the queried field(s). Append _asc or _desc to each
            field to set direction. Ascending is default.
          schema:
            type: string
            enum:
              - id
              - date_start
              - date_end
              - position
        - name: fullcount
          in: query
          required: false
          description: If true, adds 'results_fullcount' to the response header indicating
            the total number of rows without limit/offset.
          schema:
            type: boolean
        - name: id
          in: query
          required: false
          description: Select feeds by their unique identifier.
          schema:
            type: integer
        - name: lang
          in: query
          required: false
          description: Filter feeds to those with text in the specified language. Other
            languages may still appear in the response.
          schema:
            type: string
            enum:
              - en
              - fr
              - es
              - de
              - pl
              - it
              - ru
              - pt
        - name: target
          in: query
          required: false
          description: Select feeds targeted to logged users, not logged users, or all.
            Default is 'all'.
          schema:
            type: string
            enum:
              - all
              - logged
              - notlogged
            default: all
        - name: type
          in: query
          required: false
          description: Filter feeds by their type. Types include album, artist, playlist,
            track, news, interview, contest, video, update.
          schema:
            type: string
            enum:
              - album
              - artist
              - playlist
              - track
              - news
              - interview
              - contest
              - video
              - update
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties: {}
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - Only active feeds (current date between start and end) are returned.
        - Default ordering is position_asc; you can override with the 'order'
          parameter.
        - The 'fullcount' parameter can impact performance and should be used
          only when necessary.
  /playlists/file:
    get:
      operationId: getPlaylistFile
      summary: Redirect to a playlist file URL
      description: Returns an HTTP 302 redirect to the requested playlist file. This
        endpoint does not inherit the standard parent parameters; only client_id
        and id are required. An invalid request results in HTTP 404 or 500
        errors. The audioformat parameter currently only supports 'mp3'.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id_2"
        - $ref: "#/components/parameters/audioformat"
        - name: id
          in: query
          required: true
          description: The album ID for which the file redirect is requested.
          schema:
            type: integer
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties: {}
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - The endpoint performs an HTTP redirect rather than returning a JSON
          payload.
        - Only the 'mp3' audioformat is available at this time.
        - A missing or invalid client_id or id will result in a 404 or 500 error.
  /playlists:
    get:
      operationId: getPlaylists_playlists
      summary: Retrieve playlists with optional filtering
      description: Returns a list of playlists matching the supplied filters. The
        'zip' field contains a URL to download the playlist's tracks as a
        high‑quality MP3 zip, but the zip may contain fewer tracks than the
        playlist (internal limit of about 100 tracks). Requires a client_id; an
        access_token can be supplied for user‑specific data.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id_2"
        - $ref: "#/components/parameters/format"
        - $ref: "#/components/parameters/callback"
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return. Default 10, max 200; 'all'
            still caps at 200.
          schema:
            type: string
            default: "10"
        - name: order
          in: query
          required: false
          description: Sort results by field(s). Append _asc or _desc for direction;
            ascending is default.
          schema:
            type: array
            items:
              type: string
              enum:
                - name
                - id
                - creationdate
        - name: fullcount
          in: query
          required: false
          description: If true, adds 'results_fullcount' header with total rows ignoring
            limit/offset (performance impact).
          schema:
            type: boolean
        - $ref: "#/components/parameters/id"
        - name: name
          in: query
          required: false
          description: Playlist name.
          schema:
            type: string
        - name: namesearch
          in: query
          required: false
          description: Search playlist by name using wildcard matching.
          schema:
            type: string
        - $ref: "#/components/parameters/user_id"
        - $ref: "#/components/parameters/access_token"
        - $ref: "#/components/parameters/user_name"
        - name: datebetween
          in: query
          required: false
          description: "Created between dates. Format: from_to (both integers)."
          schema:
            type: string
        - name: audioformat
          in: query
          required: false
          description: Audio format for file URLs; currently only mp32 (mp3 192kbps).
          schema:
            type: string
            enum:
              - mp32
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties: {}
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - The 'zip' field in the response may contain fewer tracks than the
          playlist due to a server‑side limit of ~100 tracks.
        - If both 'client_id' and 'access_token' are supplied, the access token
          is used for user‑specific data while client_id satisfies the required
          API key.
  /radios/stream:
    get:
      operationId: getRadioStream
      summary: Retrieve streaming URL and current track info for a Jamendo radio
      description: "Returns the streaming URL for a given radio (by id or name), along
        with the currently playing track information and timing details. Note:
        the stream link returned is currently not working and may never be
        fixed. Requires a valid client_id and either a radio id or name."
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id_2"
        - $ref: "#/components/parameters/format"
        - name: callback
          in: query
          required: false
          description: Wraps the JSON response in a callback function for JSONP (only
            works with json format and GET requests).
          schema:
            type: string
        - name: fullcount
          in: query
          required: false
          description: If true, adds 'results_fullcount' to the header indicating total
            rows without limit/offset.
          schema:
            type: boolean
        - name: id
          in: query
          required: false
          description: A radio id. Either id or name must be provided.
          schema:
            type: integer
        - name: type
          in: query
          required: false
          description: "Radio type: 'www' for public radios, 'pro' for commercial radios."
          schema:
            type: string
            enum:
              - www
              - pro
        - name: name
          in: query
          required: false
          description: A radio name (unique identifier). Either name or id must be provided.
          schema:
            type: string
        - name: imagesize
          in: query
          required: false
          description: The radio image size in pixels.
          schema:
            type: string
            enum:
              - "150"
              - "30"
        - name: track_imagesize
          in: query
          required: false
          description: The cover size in pixels for tracks.
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties: {}
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - The stream link returned is currently broken and may never be fixed.
        - Either 'id' or 'name' must be supplied; both together are not required.
        - "Performance impact: avoid using 'fullcount' on heavy methods."
  /radios:
    get:
      operationId: listRadios
      summary: Retrieve list of Jamendo radios
      description: Returns the list of existing Jamendo radios with their associated
        image and name. Each radio id or name can then be used to integrate the
        radio via the stream API. Note that commercial use requires a commercial
        license and upgrading the developer account to access 'pro' radios.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id_2"
        - $ref: "#/components/parameters/format_2"
        - $ref: "#/components/parameters/callback"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/limit"
        - name: order
          in: query
          required: false
          description: Sort results by field(s). Append _asc or _desc to specify order;
            default is ascending.
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - name
                - dispname
        - name: fullcount
          in: query
          required: false
          description: If true, includes 'results_fullcount' with the total number of rows
            without pagination.
          schema:
            type: boolean
        - name: id
          in: query
          required: false
          description: A radio id to filter the list.
          schema:
            type: integer
        - name: type
          in: query
          required: false
          description: "Radio type: 'www' for public radios (default) or 'pro' for
            commercial radios."
          schema:
            type: string
            enum:
              - www
              - pro
        - name: name
          in: query
          required: false
          description: A unique radio name to filter the list.
          schema:
            type: string
        - name: imagesize
          in: query
          required: false
          description: Radio image size in pixels. If not specified, a default size is
            returned.
          schema:
            type: string
            enum:
              - "150"
              - "30"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties: {}
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - Commercial usage requires a paid license; 'pro' radios are only
          available after upgrading the account.
        - The 'callback' parameter works only with JSON format and GET requests;
          otherwise it is ignored with a warning.
        - Setting fullcount=true may impact performance and is not available on
          heavy methods.
  /reviews:
    get:
      operationId: listReviews_reviews
      summary: Browse and filter track reviews
      description: Returns a list of track reviews with optional filtering, sorting
        and pagination. Includes new boolean field 'track_audiodownload_allowed'
        indicating if download is permitted, and note that 'track_audiodownload'
        will be empty when this flag is false.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id_2"
        - $ref: "#/components/parameters/format"
        - $ref: "#/components/parameters/callback_2"
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return. Default 10, max 200. Keyword
            'all' still limited to 200 rows.
          schema:
            type: string
            default: "10"
        - name: order
          in: query
          required: false
          description: Sort results by field(s). Append _asc or _desc for direction;
            default is ascending.
          schema:
            type: string
            enum:
              - addeddate
              - score
              - id
        - name: fullcount
          in: query
          required: false
          description: If true, adds 'results_fullcount' header with total rows ignoring
            limit/offset. Use sparingly as it impacts performance.
          schema:
            type: boolean
        - name: id
          in: query
          required: false
          description: One or more review IDs.
          schema:
            type: array
            items:
              type: string
        - name: lang
          in: query
          required: false
          description: Review language code (e.g., "en", "fr").
          schema:
            type: string
        - name: datebetween
          in: query
          required: false
          description: Closed interval filter for review dates formatted as
            "yyyy-mm-dd_yyyy-mm-dd".
          schema:
            type: string
        - name: user_id
          in: query
          required: false
          description: One or more user IDs (no token required).
          schema:
            type: integer
        - $ref: "#/components/parameters/access_token"
        - $ref: "#/components/parameters/hasscore"
        - name: track_id
          in: query
          required: false
          description: One or more track IDs.
          schema:
            type: array
            items:
              type: string
        - name: album_id
          in: query
          required: false
          description: An album ID to filter reviews.
          schema:
            type: integer
        - name: artist_id
          in: query
          required: false
          description: An artist ID to filter reviews.
          schema:
            type: integer
        - name: audioformat
          in: query
          required: false
          description: Audio format for the 'audio' field. Default mp31.
          schema:
            type: string
            enum:
              - mp31
              - mp32
              - ogg
              - flac
            default: mp31
        - name: audiodlformat
          in: query
          required: false
          description: Audio download format for the 'audiodownload' field. Defaults to
            audioformat, otherwise mp32.
          schema:
            type: string
            enum:
              - mp31
              - mp32
              - ogg
              - flac
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        agreecnt:
                          type: integer
                        score:
                          type:
                            - integer
                            - "null"
                        title:
                          type:
                            - string
                            - "null"
                        text:
                          type:
                            - string
                            - "null"
                        track_audiodownload_allowed:
                          type: boolean
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - Since Feb 2021 the field 'track_audiodownload_allowed' is always
          returned.
        - From Apr 2022, if 'track_audiodownload_allowed' is false, the
          'track_audiodownload' field will be an empty string.
        - Using 'fullcount=true' may impact performance and is not available on
          some heavy methods.
  /tracks/file:
    get:
      operationId: getTrackFile
      summary: Redirect to the requested audio file for a track
      description: Returns an HTTP redirect to the audio file URL for a given track.
        The endpoint accepts a limited set of query parameters and does not
        inherit the usual parent parameters. If the track's
        'audiodownload_allowed' flag is false, the request will result in a 404
        error. The default action is 'download' and the default audio format is
        'mp31'.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id_2"
        - name: id
          in: query
          required: true
          description: The unique identifier of the track to retrieve. Only one track id
            is accepted.
          schema:
            type: integer
        - name: fullcount
          in: query
          required: false
          description: If true, the response header includes 'results_fullcount' with the
            total number of rows that would be returned without limit/offset.
          schema:
            type: boolean
        - name: audioformat
          in: query
          required: false
          description: Desired audio format for the returned file. Defaults to mp31 if not
            specified.
          schema:
            type: string
            enum:
              - mp31
              - mp32
              - ogg
              - flac
            default: mp31
        - name: action
          in: query
          required: false
          description: Specifies whether the request is for streaming or downloading;
            helps server optimize handling.
          schema:
            type: string
            enum:
              - download
              - stream
            default: download
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties: {}
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - The endpoint performs an HTTP redirect; no JSON body is returned.
        - A 404 error is returned when 'audiodownload_allowed' (or
          'track_audiodownload_allowed') is false for the requested track.
        - Only the parameters listed above are accepted; standard parent
          parameters are not inherited.
        - The 'client_id' parameter is mandatory for authentication; ensure it
          is valid.
  /tracks/similar:
    get:
      operationId: getSimilarTracks
      summary: Find tracks similar to a given track.
      description: Returns a list of tracks that are similar to the specified track
        ID. Similarity is based primarily on tags (genre, instrument, mood,
        etc.), acoustic/electric characteristics, vocal/instrumental balance,
        and additional metadata such as artists, language, and gender. Results
        are sorted by a relevance score (0‑1). The call requires a client_id API
        key and the track id. Optional parameters let you exclude the original
        artist or album, control pagination, choose result format, include extra
        fields, and select audio/audio‑download formats. Note that the
        'fullcount' flag can impact performance and 'limit' is capped at 200
        rows even when using 'all'.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id_2"
        - name: id
          in: query
          required: true
          description: The id of the track which the returned similar tracks must be
            similar to.
          schema:
            type: integer
        - $ref: "#/components/parameters/format"
        - $ref: "#/components/parameters/callback"
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return. Default 10, max 200. The
            keyword 'all' still caps at 200 rows.
          schema:
            type: string
        - name: fullcount
          in: query
          required: false
          description: If true, adds 'results_fullcount' to the header indicating the
            total number of rows without limit/offset. May affect performance.
          schema:
            type: boolean
        - name: imagesize
          in: query
          required: false
          description: Cover image size in pixels. If omitted, a default size is returned.
          schema:
            type: string
            enum:
              - "25"
              - "35"
              - "50"
              - "55"
              - "60"
              - "65"
              - "70"
              - "75"
              - "85"
              - "100"
              - "130"
              - "150"
              - "200"
              - "300"
              - "400"
              - "500"
              - "600"
        - name: audioformat
          in: query
          required: false
          description: Audio format for the 'audio' field. Defaults to mp31 if not
            specified.
          schema:
            type: string
            enum:
              - mp31
              - mp32
              - ogg
              - flac
        - name: audiodlformat
          in: query
          required: false
          description: Audio download format for the 'audiodownload' field. Defaults to
            the value of 'audioformat' or mp32 if neither is set.
          schema:
            type: string
            enum:
              - mp31
              - mp32
              - ogg
              - flac
        - name: include
          in: query
          required: false
          description: Comma‑separated list of additional fields to append to the results.
          schema:
            type: string
            enum:
              - licenses
              - musicinfo
              - stats
              - lyrics
        - name: no_artist
          in: query
          required: false
          description: Artist ID to exclude from the results.
          schema:
            type: integer
        - name: no_album
          in: query
          required: false
          description: Album ID to exclude from the results.
          schema:
            type: integer
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties: {}
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - The 'callback' parameter is ignored for non‑JSON formats or non‑GET
          requests.
        - "'fullcount' is not available on some heavy methods due to performance
          considerations."
        - Even when 'limit=all' is used, the maximum number of returned rows is
          capped at 200.
  /tracks:
    get:
      operationId: listTracks
      summary: Search and retrieve tracks from Jamendo
      description: Returns a list of tracks matching the supplied query parameters.
        Includes new fields like 'audiodownload_allowed' indicating if a
        download can be offered. For singles, album related fields may be empty.
        Use the 'include' parameter to retrieve extra objects (licenses,
        musicinfo, stats, lyrics). Beware that changing the first order from
        'relevance' will discard the relevance ranking; use 'boost' to influence
        ranking without losing relevance.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id_2"
        - name: format
          in: query
          required: false
          description: The results formatting type.
          schema:
            type: string
            enum:
              - xml
              - json
              - jsonpretty
            default: json
        - name: callback
          in: query
          required: false
          description: Wrap JSON response in a callback function (JSONP). Only works with
            json format and GET.
          schema:
            type: string
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return (default 10, max 200). 'all'
            still capped at 200.
          schema:
            type: string
            default: "10"
        - name: order
          in: query
          required: false
          description: Sort results by the given field(s). Append _asc or _desc to specify
            direction. Rating orders force descending.
          schema:
            type: string
            enum:
              - relevance
              - buzzrate
              - downloads_week
              - downloads_month
              - downloads_total
              - listens_week
              - listens_month
              - listens_total
              - popularity_week
              - popularity_month
              - popularity_total
              - name
              - album_name
              - artist_name
              - releasedate
              - duration
              - id
        - name: fullcount
          in: query
          required: false
          description: If true, response header includes 'results_fullcount' (total rows
            without limit/offset). May affect performance.
          schema:
            type: boolean
        - name: id
          in: query
          required: false
          description: One or more track IDs.
          schema:
            type: integer
        - name: name
          in: query
          required: false
          description: A track name.
          schema:
            type: string
        - name: namesearch
          in: query
          required: false
          description: Search a track by name (UTF‑8 string).
          schema:
            type: string
        - name: type
          in: query
          required: false
          description: Select only tracks of a certain type. Default returns only album
            tracks.
          schema:
            type: string
            enum:
              - single
              - albumtrack
        - $ref: "#/components/parameters/album_id"
        - name: album_name
          in: query
          required: false
          description: Album name.
          schema:
            type: string
        - $ref: "#/components/parameters/artist_id_2"
        - $ref: "#/components/parameters/artist_name"
        - name: content_id_free
          in: query
          required: false
          description: Content ID free flag.
          schema:
            type: boolean
        - name: datebetween
          in: query
          required: false
          description: Release date interval (yyyy‑mm‑dd_yyyy‑mm‑dd).
          schema:
            type: string
        - name: featured
          in: query
          required: false
          description: Filter for tracks selected by Jamendo team.
          schema:
            type: string
            enum:
              - "true"
              - "1"
        - $ref: "#/components/parameters/imagesize"
        - name: audioformat
          in: query
          required: false
          description: Audio streaming format.
          schema:
            type: string
            enum:
              - mp31
              - mp32
              - ogg
              - flac
            default: mp31
        - name: audiodlformat
          in: query
          required: false
          description: Audio download format; defaults to audioformat or mp32.
          schema:
            type: string
            enum:
              - mp31
              - mp32
              - ogg
              - flac
        - name: tags
          in: query
          required: false
          description: Search by one or more tags (AND logic).
          schema:
            type: string
        - name: fuzzytags
          in: query
          required: false
          description: Search by one or more tags (OR logic).
          schema:
            type: string
        - name: acousticelectric
          in: query
          required: false
          description: Specify if track is acoustic or electric.
          schema:
            type: string
            enum:
              - acoustic
              - electric
        - name: vocalinstrumental
          in: query
          required: false
          description: Specify if track is vocal or instrumental.
          schema:
            type: string
            enum:
              - vocal
              - instrumental
        - name: gender
          in: query
          required: false
          description: Gender of the singer (if vocal).
          schema:
            type: string
            enum:
              - male
              - female
        - name: speed
          in: query
          required: false
          description: Track tempo classification.
          schema:
            type: string
            enum:
              - verylow
              - low
              - medium
              - high
              - veryhigh
        - name: lang
          in: query
          required: false
          description: Lyrics language (ISO 2‑letter code).
          schema:
            type: string
        - name: durationbetween
          in: query
          required: false
          description: Track duration interval in seconds (from_to).
          schema:
            type: string
        - name: xartist
          in: query
          required: false
          description: Find tracks similar to a non‑Jamendo artist.
          schema:
            type: string
        - name: search
          in: query
          required: false
          description: Free text search across track, album, artist and tags.
          schema:
            type: string
        - name: prolicensing
          in: query
          required: false
          description: Only tracks in the single‑track commercial licensing program.
          schema:
            type: boolean
        - name: probackground
          in: query
          required: false
          description: Only tracks in the background‑music commercial program.
          schema:
            type: boolean
        - name: ccsa
          in: query
          required: false
          description: Filter for Creative Commons Share‑Alike licensed tracks.
          schema:
            type: boolean
        - name: ccnd
          in: query
          required: false
          description: Filter for Creative Commons No‑Derivs licensed tracks.
          schema:
            type: boolean
        - name: ccnc
          in: query
          required: false
          description: Filter for Creative Commons Non‑Commercial licensed tracks.
          schema:
            type: boolean
        - name: include
          in: query
          required: false
          description: Append additional objects to each track result.
          schema:
            type: string
            enum:
              - licenses
              - musicinfo
              - stats
              - lyrics
        - name: groupby
          in: query
          required: false
          description: Aggregate results per artist or per album.
          schema:
            type: string
            enum:
              - artist_id
              - album_id
        - name: boost
          in: query
          required: false
          description: When searching, boost the ranking using the selected metric.
          schema:
            type: string
            enum:
              - buzzrate
              - downloads_week
              - downloads_month
              - downloads_total
              - listens_week
              - listens_month
              - listens_total
              - popularity_week
              - popularity_month
              - popularity_total
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        audio:
                          type: string
                        audiodownload:
                          type: string
                        audiodownload_allowed:
                          type: boolean
                        duration:
                          type: integer
                        album_id:
                          type:
                            - integer
                            - "null"
                        album_name:
                          type:
                            - string
                            - "null"
                        album_image:
                          type:
                            - string
                            - "null"
                        image:
                          type: string
                        artist_id:
                          type: integer
                        artist_name:
                          type: string
                        releasedate:
                          type: string
                        type:
                          type: string
                        tags:
                          type: array
                          items:
                            type:
                              - string
                              - "null"
                        licences:
                          type:
                            - object
                            - "null"
                        musicinfo:
                          type:
                            - object
                            - "null"
                        stats:
                          type:
                            - object
                            - "null"
                        lyrics:
                          type:
                            - object
                            - "null"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - The field 'audiodownload_allowed' must be checked before offering a
          download link; if false, 'audiodownload' will be an empty string.
        - When using the tracks endpoint for search, keep 'order=relevance' as
          the first order to preserve relevance ranking; otherwise the relevance
          order is lost.
        - Use 'boost' instead of changing the primary order if you want a
          specific metric to influence ranking while retaining relevance.
        - For singles album_id, album_name and album_image are empty; handle
          nullable values accordingly.
        - "'include' can dramatically increase payload size; request only needed
          extra objects."
        - The 'groupby' parameter returns only one track per group (artist or
          album), the first in the natural order.
        - "Audio format defaults: streaming -> mp31, download -> mp32 (if not
          overridden)."
        - The 'featured' filter accepts 'true' or '1' as values.
  /users/albums:
    get:
      operationId: getUserAlbums
      summary: Retrieve the albums a user has added to their MyAlbums collection
      description: Returns the list of Jamendo albums that a specific user has added
        to their MyAlbums relation. The request requires a client_id and at
        least one of id, access_token, or name to identify the user. Optional
        filters allow limiting, ordering, and selecting image sizes. The
        'relation' parameter currently only supports 'myalbums'.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id_2"
        - $ref: "#/components/parameters/format"
        - $ref: "#/components/parameters/callback"
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return (default 10, max 200). The
            keyword 'all' is capped at 200.
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: Sort results by the queried field(s). Append _asc or _desc for
            direction; ascending is default.
          schema:
            type: string
            enum:
              - updatedate
        - name: fullcount
          in: query
          required: false
          description: If true, includes 'results_fullcount' in the header
            (performance‑intensive; not available on heavy methods).
          schema:
            type: boolean
        - $ref: "#/components/parameters/id_2"
        - $ref: "#/components/parameters/access_token"
        - $ref: "#/components/parameters/name_2"
        - name: imagesize
          in: query
          required: false
          description: User avatar size in pixels.
          schema:
            type: integer
            enum:
              - 30
              - 50
              - 100
        - $ref: "#/components/parameters/album_id"
        - name: album_imagesize
          in: query
          required: false
          description: Album cover size in pixels.
          schema:
            type: integer
            enum:
              - 25
              - 35
              - 50
              - 55
              - 60
              - 65
              - 70
              - 75
              - 85
              - 100
              - 130
              - 150
              - 200
              - 300
              - 400
              - 500
              - 600
        - name: relation
          in: query
          required: false
          description: Relation type; currently only 'myalbums' is supported.
          schema:
            type: string
            enum:
              - myalbums
            default: myalbums
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties: {}
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - client_id is mandatory; you must also supply at least one of id,
          access_token, or name to identify the user.
        - The 'order' field currently only accepts 'updatedate' but may support
          additional fields in the future.
        - Using 'fullcount' may impact performance and is not available for
          heavy endpoints.
  /users/artists:
    get:
      operationId: getUserArtists
      summary: Retrieve the artists a user is a fan of
      description: Returns the list of Jamendo artists that a specified user follows
        (fan relation). The 'relation' parameter currently only supports 'fan',
        but is kept for future extensions. Requires a client_id (API key) and at
        least one of the user identifiers (id, access_token, or name). Optional
        parameters allow formatting, pagination, sorting, and image size
        selection.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id_2"
        - $ref: "#/components/parameters/format"
        - $ref: "#/components/parameters/callback_2"
        - $ref: "#/components/parameters/offset"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return. Default 10, max 200. 'all' is
            limited to 200 rows.
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: Sort results by the specified field(s). Append '_asc' or '_desc'
            for direction (default ascending).
          schema:
            type: string
            enum:
              - updatedate
        - name: fullcount
          in: query
          required: false
          description: If true, the response header includes 'results_fullcount' (total
            rows without pagination). Use sparingly for performance.
          schema:
            type: boolean
        - name: id
          in: query
          required: false
          description: One or more user IDs.
          schema:
            type: integer
        - name: access_token
          in: query
          required: false
          description: OAuth2 access token of the Jamendo user.
          schema:
            type: string
        - $ref: "#/components/parameters/name_2"
        - name: imagesize
          in: query
          required: false
          description: The user avatar size in pixels.
          schema:
            type: string
            enum:
              - "30"
              - "50"
              - "100"
        - $ref: "#/components/parameters/artist_id_2"
        - name: relation
          in: query
          required: false
          description: Relation type; currently only 'fan' is supported.
          schema:
            type: string
            enum:
              - fan
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    properties:
                      status:
                        type: string
                      code:
                        type: string
                      error_message:
                        type: string
                      warnings:
                        type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties: {}
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                  error_uri:
                    type: string
      x-notes:
        - client_id is mandatory for all calls.
        - At least one of id, access_token, or name must be provided to identify
          the user.
        - The 'relation' parameter defaults to 'fan' and is the only supported
          value today.
  /users/tracks:
    get:
      operationId: getUserTracks
      summary: Retrieve tracks liked, favorited, or reviewed by a user
      description: Returns a list of tracks associated with a user based on the
        selected relations (like, favorite, review). Supports pagination,
        sorting, filtering by track type, and audio format options. Either a
        user id or a valid access token must be supplied alongside the required
        client_id. The 'audiodownload_allowed' field indicates if the track can
        be downloaded; if false, the 'audiodownload' field will be an empty
        string.
      security:
        - apikey_auth: []
      parameters:
        - $ref: "#/components/parameters/client_id_2"
        - $ref: "#/components/parameters/format_3"
        - name: callback
          in: query
          required: false
          description: Wrap response in a JSONP callback (only for json format and GET
            requests)
          schema:
            type: string
        - name: offset
          in: query
          required: false
          description: The position to start returning results from
          schema:
            type: integer
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return (default 10, max 200, 'all'
            caps at 200)
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: "Sorting order: 'updatedate' by last interaction date, or 'rating'
            by combined relevance"
          schema:
            type: string
            enum:
              - updatedate
              - rating
        - name: fullcount
          in: query
          required: false
          description: If true, includes the total result count in the header (affects
            performance)
          schema:
            type: boolean
        - name: id
          in: query
          required: false
          description: User id (one of id or access_token must be provided)
          schema:
            type: integer
        - name: access_token
          in: query
          required: false
          description: OAuth2 token for the Jamendo user
          schema:
            type: string
        - name: imagesize
          in: query
          required: false
          description: User avatar size in pixels
          schema:
            type: string
            enum:
              - "30"
              - "50"
              - "100"
        - name: track_type
          in: query
          required: false
          description: Filter by track type; default returns only album tracks
          schema:
            type: string
            enum:
              - single
              - albumtrack
        - name: track_id
          in: query
          required: false
          description: One or more track IDs to filter
          schema:
            type: integer
        - name: artist_id
          in: query
          required: false
          description: One or more artist IDs to filter
          schema:
            type: integer
        - name: album_id
          in: query
          required: false
          description: One or more album IDs to filter
          schema:
            type: integer
        - name: audioformat
          in: query
          required: false
          description: Audio format for the 'audio' field
          schema:
            type: string
            enum:
              - mp31
              - mp32
              - ogg
              - flac
            default: mp31
        - name: audiodlformat
          in: query
          required: false
          description: Audio download format for the 'audiodownload' field
          schema:
            type: string
            enum:
              - mp31
              - mp32
              - ogg
              - flac
        - name: album_imagesize
          in: query
          required: false
          description: Cover image size in pixels
          schema:
            type: string
            enum:
              - "25"
              - "35"
              - "50"
              - "55"
              - "60"
              - "65"
              - "70"
              - "75"
              - "85"
              - "100"
              - "130"
              - "150"
              - "200"
[...]
